@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="table-primary">
    <tbody>
        <tr class="">
            <td>
                <div class="admin-verify-vendor">
                    Vendor
                </div>
            </td>
            <td>
                <div class="crud-vendor">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="crud-company">
                    Company
                </div>
            </td>
            <td colspan="2">
                <div class="crud-customer">
                    Customer
                </div>
            </td>
        </tr>
    </tbody>
</div>