@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CustomerLayout";
}

<div class="header">
    <h2>Transaksi Sukses!</h2>
    <img src="" />
</div>
<h3>Order Detail:</h3>
<ul class="list-group">
    <li class="order-detail list-group-item">
        <div class="order-info">
            <div class="order-name">Paket A</div>
            <div class="order-description">1 pcs Ayam Goreng Dada / Paha Atas + 1 pcs Ayam Goreng Sayap + Nasi Putih</div>
        </div>
        <div class="order-price">Rp 25.000</div>
    </li>
    <li class="order-detail list-group-item">
        <div class="order-info">
            <div class="order-name">Paket A</div>
            <div class="order-description">1 pcs Ayam Goreng Dada / Paha Atas + 1 pcs Ayam Goreng Sayap + Nasi Putih</div>
        </div>
        <div class="order-price">Rp 25.000</div>
    </li>
    <li class="order-detail list-group-item">
        <div class="order-info">
            <div class="order-name">Paket A</div>
            <div class="order-description">1 pcs Ayam Goreng Dada / Paha Atas + 1 pcs Ayam Goreng Sayap + Nasi Putih</div>
        </div>
        <div class="order-price">Rp 25.000</div>
    </li>

</ul>
<div class="back-home-btn">
    <button type="button" class="btn-primary">Home</button>
</div>

