@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_GuestLayout";
}
<h1>Login</h1>
<form>
    <label>Email:</label>
    <input id="Txt-Email" type="text"/>
    <br />
    <label>Password:</label>
    <input id="Txt-Password" type="text" />
    <button id="Btn-Lqogin" class="btn-primary">Login</button>
</form>