@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CustomerLayout";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<div class="titleCart">
    <i class="fa-solid fa-arrow-left fa-2x" style="padding-top:5px;padding-right:10px">     </i>
    <h2>Cart</h2>
</div>


<hr />
<div class="titleCartMenu">
    <h3>Paket A</h3>
    <h3 style="margin-left : 30%;border: 1px solid black;border-radius: .3rem;">Rp 25.000</h3>
</div>

<p>1 pcs Ayam Goreng Dada / Paha Atas + 1 pcs Ayam Goreng Sayap + Nasi Putih</p>

<hr />
<h3>Schedule</h3>

<p style="color:red">*Required</p>

<div class="schedule-cart">
    <p style="color: red; padding-right :5px">*</p>
    <input type="date" id="start" name="trip-start"
           value="2018-07-22"
           min="2023-05-01" max="2023-12-31">
</div>


<hr />
<h3>Payment Method</h3>

<div class="payment-amount">
    <i class="fa-solid fa-wallet" style="padding-top:5px;padding-right:10px"></i>
    <p>Rp 25.000</p>
</div>


<div class="special-footer">
    <a href="" class="btn-primary">Checkout</a>
</div>
